/* color palette */

$rich-black: #010a1f6e;
$prussian-blue: #1d2d44;
$black-coral: #3e5c76;
$shadow-blue: #748cab;
$eggshell: #f0ebd8;
$card-bg: rgba(40, 0, 43, 0.185);
$link-cl: #ebcceb;
$fanta-orange: #e48e1e;
$danger-toast: #ff80809d;
$success-toast: #80ff869d;

body {
  background-image: url("../images/bg2.jpg");
  background-size: auto;
}

.card.main-card {
  background-color: $card-bg;
  display: inline-block;
  justify-content: left;
}

.main-container{
  margin-top: 10%;
}

.lead {
  color: whitesmoke;
}

@mixin text-box() {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background: none;
  color: $eggshell;
}

.input-group-text {
  @include text-box();
}

.input-group .form-control {
  @include text-box();
}

.input-group .form-inline {
  @include text-box();
  border-bottom-style: dotted;
}

::placeholder {
  color: #dfbbdc3b;
}

.visibility-badge {
  padding: 10px;
}

a {
  text-decoration: none;
  color: $link-cl;
}

a:hover {
  color: #370c42;
}

a.lead {
  color: $link-cl;
}

a.lead:hover {
  color: #370c42;
}

ul .list-group-item {
  color: #748cab;
  background-color: transparent;
}

.index-card {
  background-color: $card-bg;
  color: $eggshell;
}

blockquote p {
  font-size: 0.8em !important;
}

cite {
  color: $fanta-orange;
}

.accordion-button {
  background-color: $card-bg;
}

.accordion-body {
  background-color: $card-bg;
}

.navbar {
  background-color: $rich-black;
}

.navbar-brand {
  font-size: 2.5em;
}

.navbar-brand .lead {
  display: block;
  color: whitesmoke;
  margin-left: 75%;
  margin-top: -7%;
}

.main-content{
  margin-top:10%;
}

.fanta-box-header {
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 1;
  margin-bottom: -10px;
  font-weight:100;
  color: $fanta-orange;
}

.post-alert{
  position: relative;
}
