/* color palette */

$rich-black: #010a1f6e;
$prussian-blue: #1d2d44;
$black-coral: #3e5c76;
$shadow-blue: #748cab;
$eggshell: #f0ebd8;
$card-bg: rgba(40, 0, 43, 0.185);
$link-cl : #ebcceb;

header {
  background: $eggshell;
}

body {
  background-image: url("../images/bg2.jpg");
  background-size: auto;
}

.display-4 {
  font-weight: 100;
  color: $eggshell;
}

.main-card {
  background-color: $card-bg;
  display: inline-block;
  justify-content: left;
}

.lead {
  color: whitesmoke;
}

@mixin text-box() {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background: none;
  color: $eggshell;
}

.input-group-text {
  @include text-box();
}

.input-group .form-control {
  @include text-box();
}
.input-group .form-inline {
  @include text-box();
  border-bottom-style: dotted;
}

::placeholder {
  color: #dfbbdc3b;
}
.visibility-badge {
  padding: 10px;
}

a {
  text-decoration: none;
  color: $link-cl;
}

ul .list-group-item {
  background-color: transparent;
  color: darkgray;
}

.index-card {
  background-color: $card-bg;
  color: $eggshell;
}

blockquote p {
  font-size: 0.8em !important;
}

cite {
  color: $shadow-blue;
}

.sidepanel  {
  position:relative;
  z-index: 1;
  width: 0;
  left: 0;
  background-color: $rich-black;
  overflow-x: hidden;
  transition: 0.5s;
  height: auto;
}

.sidepanel a {
  text-decoration: none;
  color: $link-cl;
  display: block;
  transition: 0.2s;
  font-size: 15px;
  text-align: center;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.openbtn {
  cursor: pointer;
  background-color:  $rich-black;
  color: white;
  padding: 10px 15px;
  border: none;
  position: relative;
}

.openbtn:hover {
  background-color:#444;
}

@media (max-width: 1000px) {
  .mx-w-100 {
    max-width: 100% !important;
  }
}